<!doctype html>
<html lan=en>
  <head>
  </head>
  <body>
    <title>Newspaper sanitiser</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <div class=page>
      <h1><a href="/">Newspaper Sanitiser</a></h1>
      <br>
      <h2>
        <a href="/">  -News-  </a>
        <a href="/letters">  -Letters-  </a>
        <a href="/about">  -About-  </a>
      </h2>
      <br>
      {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}
      {% block body %}{% endblock %}
      <center>
        <button style="height:90px;width:420px"onclick="goBack()">Back</button>
        <script>
          function goBack(){
            window.history.back();
          }
        </script>
      </center>
    </div>
  </body>
</html>
